@mixin typography($color, $font-weight, $font-size, $line-height) {
  color: $color;
  font-weight: $font-weight;
  font-size: $font-size;
  line-height: $line-height;
}

@mixin flexbox($direction, $wrap, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  flex-wrap: $wrap;
  justify-content: $justify;
  align-items: $align;
}

@mixin mq($breakpoint) {
  @if $breakpoint == mobile {
    @media (width <= 767px) {
      @content;
    }
  } @else if $breakpoint == tablet {
    @media (768px <= width) and (width <= 1023px) {
      @content;
    }
  } @else if $breakpoint == desktop {
    @media (width >= 1024px) {
      @content;
    }
  }
}

@mixin respond($breakpoint) {
  @if $breakpoint == desktop {
    @media only screen and (width <= 1900px) {
      @content;
    }
  }

  @if $breakpoint == tablet {
    @media only screen and (width <= 1350px) {
      @content;
    }
  }

  @if $breakpoint == mobile {
    @media only screen and (width <= 1000px) {
      @content;
    }
  }

  @if $breakpoint == tabletAndUp {
    @media only screen and (width >= 800px) {
      @content;
    }
  }

  @if $breakpoint == sm {
    @media only screen and (width >= 640px) {
      @content;
    }
  }

  @if $breakpoint == md {
    @media only screen and (width >= 768px) {
      @content;
    }
  }

  @if $breakpoint == lg {
    @media only screen and (width >= 1024px) {
      @content;
    }
  }

  @if $breakpoint == lg {
    @media only screen and (width >= 1280px) {
      @content;
    }
  }
}