/* Global CSS color variables */

/* Color */

$nav-bakgrunn: #f1f1f1;
$border-color: #c6c2bf;
$white: #fff;
$black: #000;

/* Font weight */

$font-bold: 600;

$pagination-margin-top: 15px;
$pagination-margin-top-mobile: 15px;
$pagination-margin-top-tablet: 15px;
$pagination-width-mobile: 80px;
$pagination-width-tablet: 60px;
