@import "variables";
@import "mixins";

*,
::before,
::after {
  box-sizing: initial;
}

*,
body {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.35rem;

  @include respond(md) {
    font-size: 1.5rem;
  }

  @include respond(lg) {
    font-size: 1.025rem;
  }
}

#root {
  background-color: $nav-bakgrunn;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
}

.knapp {
  @include respond(mobile) {
    max-width: 95vw;
    padding: 5px;
  }
}
