@import "variables";
@import "mixins";

* {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.6rem;
}

.App {
  background-color: $navGraBakgrunn;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
}

.knapp {
  @include respond(mobile) {
    max-width: 95vw;
    padding: 5px;
  }
}
