@import 'variables';
@import 'mixins';

*,
::before,
::after {
  box-sizing: initial;
}

* {
  font-family: 'Source Sans Pro', sans-serif;

  @include respond(tabletAndUp) {
    font-size: 1.125rem;
  }
  @include respond(mobile) {
    font-size: 1.6rem;
  }
}

.App {
  background-color: $navGraBakgrunn;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
}

.knapp {
  @include respond(mobile) {
    max-width: 95vw;
    padding: 5px;
  }
}
