@import '../../assets/scss/mixins';
@import '../../assets/scss/variables';

.jobDiv {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.jobTitle {
  font-weight: $fontBold;
}

.jobContent {
  max-width: 65vw;
  margin-top: 15px;
}

.lukkeKnapp {
  width: 140px;
  margin: 0.3em;

  @include respond(mobile) {
    width: 200px;

    span {
      font-size: 1.7rem;
    }
  }
}
