@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap");
/* Global CSS color variables */
/* Color */
/* Font weight */
* {
  font-family: "Source Sans Pro", sans-serif;
}

.App {
  background-color: #f1f1f1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
}

@media only screen and (max-width: 800px) {
  .knapp {
    max-width: 95vw;
    padding: 5px;
  }
}
