.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
  padding: 10px;
}

.panel {
  min-height: 50px;
}

.panelcontent { 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1em;  
    position: relative;    
}

.panelspan { 
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  padding: 1em;  
  position: relative;    
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1em;
  position: relative;
}
