.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
  padding: 10px;
}

@media all and (min-width: 1900px) {
  .panel {
    min-width: 420px;
  }
}

@media all and (max-width: 1350px) {
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    padding: 10px;
  }
}

@media all and (max-width: 800px) {
  .container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    padding: 10px;
  }
}

.panel {
  min-height: 50px;
}

.panelButton {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0.5em;
  gap: 1em;
  position: relative;
}

.hovedKnapp {
  width: 140px;
  margin: 0.3em;
}

.errorMessage {
  color: #000;
  font-weight: 600;
  font-size: 32px;
  line-height: 36px;
  text-align: center;
  height: 50px;
}

.panelSpan {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0.5em;
  position: relative;
  min-height: 40px;
}

.title {
  font-weight: 600;
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 1em;
  position: relative;
}
