.savedJobs {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 0.5rem;
  padding: 10px;
}

.knapp {
  max-width: 450px;
}

@media all and (max-width: 1350px) {
  .savedJobs {
    grid-template-columns: 1fr;
  }

  .knapp {
    max-width: 100vw;
  }
}
