@import "@/assets/scss/variables";
@import "@/assets/scss/mixins";

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
  padding: 10px;
  margin-top: 20px;
  width: 98vw;

  @include respond(desktop) {
    grid-template-columns: 1fr 1fr 1fr;
  }

  @include respond(tablet) {
    grid-template-columns: 1fr 1fr;
  }

  @include respond(mobile) {
    margin-left: 3em;
    margin-right: 3em;
    justify-content: center;
    grid-template-columns: 1fr;
  }
}

.header {
  text-align: center;
  font-size: 1.4em;
}

.panel {
  min-height: 200px;
  margin-top: 5px;
  background-color: $white;
  transition: all 0.18s ease-in-out;
  margin-left: 20px;
  margin-right: 20px;

  &:hover {
    transform: translateY(-1px);
    box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);
  }

  @include respond(mobile) {
    min-width: 315px;
  }
}

.panel-button {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0.5em;
  gap: 1em;
  position: relative;
}

.hoved-knapp,
.sekund-knapp {
  width: 140px;
  margin: 0.3em;

  @include respond(mobile) {
    width: 200px;
  }
}

.panel-span {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0.4em;
}

.title {
  font-weight: $font-bold;
  min-height: 50px;
}

.loader {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  margin: 2em !important;

  & li {
    height: 50px;
    margin-top: 15px;
  }

  @include respond(mobile) {
    & li {
      margin-top: 15px;
      width: 80px !important;
      border: none;
    }

    a {
      font-size: 1.15rem !important;
      padding: 2px !important;
      font-weight: 700;
    }
  }

  @include respond(desktop) {
    a {
      padding: 2px !important;
      font-weight: 700;
    }
  }

  @include respond(tabletAndUp) {
    & li {
      margin-top: 15px;
      height: 50px;
      width: 60px;
    }

    a {
      font-size: 1.2rem;
      padding: 10px !important;
      font-weight: 700;
    }
  }
}
