@import "../../assets/scss/variables";

.header-title {
  color: $white;
  font-weight: $fontBold;
  font-size: 40px;
  line-height: 44px;
}

.sub-title {
  color: $white;
  font-weight: $fontBold;
  font-size: 32px;
  line-height: 36px;
}

.systemtitle {
  color: $black;
  font-weight: $fontBold;
  line-height: 28px;
  font-size: 1.5em;
}

/* Logo container */

.navigation {
  display: flex;
  align-items: center;
  min-height: 10vh;
  background-color: $white;
  justify-content: center;
  border-bottom: 2px $borderColor solid;

  .logo {
    padding: 1rem;
  }
}
