@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";

.saved-jobs {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 0.5rem;
  padding: 20px;
  color: $white;
  background-color: $white;
  justify-content: center;
  border-bottom: 2px $border-color solid;

  @include respond(tablet) {
    grid-template-columns: 1fr;
  }
}

.saved-job-title {
  color: $black;
  font-weight: 600;

  /* font-size: 24px; */
  line-height: 28px;
  text-align: center;
}

.animate {
  background-color: rgb(128 108 108);
}
